@font-face {
    font-family: myFont;
    src: url("../../fonts/Amsterdam.ttf");
 }
 
 body {
     font-family: 'Nunito Sans', sans-serif;
 }
 
 .prato1 {
     background-image: url('../menuimages/background/labelavita.png');
     background-size: cover;
         color: #fff;
    padding: 20px;
 }

 .prato2 { 
    background-image: url('../menuimages/background/partiro.png');
    background-size: cover;
    color: #fff;
    padding: 20px;
}

.prato3 {
    background-image: url('../menuimages/background/monalisa.png');
    background-size: cover;
    color: #fff;
    padding: 20px;
}

.prato4 {
    background-image: url('../menuimages/background/torre.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
}

.prato5 {
    background-image: url('../menuimages/background/commedia.png');
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 20px;
}
 
 .imagem{
     text-align: center;
     border-radius: 15px;
     background-color: rgba(111, 110, 61, 0.8);
 }
 
 .menu{
     color: white;
     background-color: #BF4E30;
     font-family: myFont;
     text-align: center;
 }
 
 h2 {
     font-family: myFont;
     font-size: 35px;
     text-align: center;
 }
 
 .desc {
     text-align: center;
     background-color: rgba(191, 78, 48, 0.8);
     border-radius: 5px;
     color: white;
     font-size: 15pt;
 }
 
 .list{
     list-style: none;
     font-weight: 100;
     padding-left: 30px;
 }
 
 @media screen and (min-width: 768px){
     .imagem {
         max-height: 500px;
         width: 100%;
         aspect-ratio: 1 / 1;
         height: auto;
     }
 }