@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url("../../fonts/Amsterdam.ttf");
}


.backg{
    background-image: url("../menuimages/restauranteback.jpeg");
    
}

.imagem{
    text-align: center;
    border: 1px solid #6F6E3D;
    border-radius: 15px;
    background-color: #6F6E3D;

}

.menu{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: myFont;
    font-weight: 100;
    text-align: center;
}

h2 {
    font-family: myFont;
    font-size: 25px;
    text-align: center;
}
.desc {
    text-align: center;
    background-color: #BF4E30;
    border-radius: 5px;
    color: white;
    font-size: 15pt;
}

.prato1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    
}

.list{
    list-style: none;
    font-weight: 100;
    padding-left: 30px;
}
