@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.font-especial {
    font-family: myFont;
    font-weight: 100;
}

h1 {
    font-family: myFont;
    font-weight: 100;
    text-align: center;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}


.making-pasta {
    max-height: 500px;
}

.plant1 {
    position: absolute;
    left: 2%;
    height: 70px;
    width: 90px;
    padding-top: 0;
}

.plant2 {
    position: absolute;
    transform: rotateY(180deg);
    right: 2%;
    height: 70px;
    width: 90px;
    padding-top: 0;
}

.texts {
    width: 60%;
}

.background {
    background-color: #BF4E30;
}



.view-menu-btn {
    border: none;
    padding: 0px 20px;
    font-family: myFont;
    font-size: 15px;
    background-color: #eaaf56;
    border-radius: 5px;
    margin-top: 70px;
    cursor: pointer;
}

.view-menu {
    position: relative;
    text-align: center;
}

.plant-img {
    position: absolute;
    top: -300%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0;
}

.col-12{
    padding-left: 0;
}

.line{
    font-size: 14px;
}
.imgt {
    align-items: center;
    max-height: 300px;
    width: 300px;
    aspect-ratio: 16/9;
    height: auto;
 }
 .description1{
    padding-top: 15px;
    text-align: center;
    color: white;
    font-size: 16px;
    
}
.description2{
    padding-top: 8px;
    text-align: center;
    color: white;
    font-size: 16px;
}

.box1{
    background-color: #BF4E30;
    border-radius: 15px;
}

.til1{
    color: white;
}
.text1{
    color: white;
}