@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Nunito Sans', sans-serif;
}

header {
   width: 100vw;
   height: 60px;
   background-color: #BF4E30;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
}

header h2 {
   font-family: 'Amsterdam', sans-serif;
}

header img {
   height: 60px;
}

h3 {
   text-align: center;
   font-family: 'Amsterdam', sans-serif;
}

.table {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

table {
   border-collapse: collapse;
   width: 95%;
}

th, td {
   border: 1px solid black;
   padding: 3px;
}

.name {
   width: 120px;
}

.phone {
   width: 100px;
}

.total {
   width: 56px;
}

.paid {
   width: 30px;
}

.payment-voucher {
   width: 30px;
}

.confirm-voucher {
   width: 20px;
}

input[type="checkbox"] {
   width: 20px;
   height: 20px;
   margin: 0;
   border: 2px solid #007BFF;
   border-radius: 3px;
 }
 
 input[type="checkbox"]:checked {
   background-color: #007BFF;
   border: 2px solid #0056b3;
   color: white;
 }
 

ul {
   list-style-type: none;
   font-size: 12px;
}

.ticket {
   padding: 3px;
   border-radius: 5px;
   margin-bottom: 2px;
   background-color: #eaaf56;
}