@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

* {
   margin: 0;
   padding: 0;
}

.background {
   height: 100px;
   width: 100vw;
   background-image: url('../images/background-buy-page-img.jpeg');
}

.inputs {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   margin-top: 10px;
}

label {
   font-family: 'Nunito Sans', sans-serif;
   width: 30%;
   margin-right: 10px;
   text-align: left;
   font-weight: 400;
}

.input-div {
   width: 80%;
   max-width: 300px;
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 20px 10px;
}

.error {
   opacity: 0;
   display: inline-block;
   background-color: #f8d7da;
   color: #721c24;
   padding: 8px;
   border: 1px solid #f5c6cb;
   border-radius: 4px;
   font-family: 'Nunito Sans', sans-serif;
   font-size: 12px;
   margin-top: 5px;
   max-width: 300px;
   text-align: center;
}
 

input {
   border: 2px solid yellow;
   width: 70%;
   padding: 5px;
   outline: none;
}

input::placeholder {
   opacity: 0.5;
}

#success-completing {
   border: 2px solid green;
}

#unsuccess-completing {
   border: 2px solid red;
}

.fa-chevron-left {
   color: #BF4C33;
}

.buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   bottom: 0;
   width: 100vw;
}

.buttons a {
   margin: 20px;
}

button {
   border: none;
   background-color: transparent;
}