@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

* {
   margin: 0;
   padding: 0;
}

.background {
   height: 100px;
   width: 100vw;
   background-image: url('../images/background-buy-page-img.jpeg');
}

.inputs {
   display: flex;
   align-items: center;
}

label {
   font-family: 'Nunito Sans', sans-serif;
}

.input {
   width: 250px;
}

input {
   border: 2px solid green;
   margin: 30px 0px;
}

.fa-chevron-left {
   color: black;
}

.fa-check {
   color: black;
}

.buttons {
   display: flex;
   justify-content: space-between;
   margin: 0px 20px;
}