@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100vw;
    height: 60px;
    background-color: #BF4E30;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 70px;
    padding-top: 8px;
}

nav {
    position: absolute;
    right: 5%;
}

header a {
    color: white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-size: 12px;
    margin-left: 12px;
    padding-left: 12px;
}

.line {
    border-left: 1px solid white;
}

@media (min-width: 600px) {
    header {
        height: 100px;
    }

    header img {
        height: 100px;
        width: 100px;
    }

    .a, a.line {
        font-size: 20px;
    }
}