@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
    font-family: myFont;
    src: url('..//fonts/Amsterdam.ttf');
}

h1 {
    font-family: myFont;
    margin-left: 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-line {
    width: 300px;
    height: 2px;
    background-color: black;
}

.plant {
    position: absolute;
    right: 2%;
    top: 65px;
    transform: rotateY(180deg);
    z-index: 2;
}

h2 {
    font-family: myFont;
    font-size: 18px;
    text-align: center;
}

h3 {
    color: #BF4E30;
}

h4 {
    font-style: italic;
    font-size: 12px;
}

h3, h4, p {
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

.dish {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.dolce {
    margin-bottom: 40px;
}

.texts {
    width: 40%;
    padding: 10px;
}

.images {
    width: 60%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.image {
    height: 100%;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 60px 0px;
}

.buyBtn {
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px;
    outline: none;
    background-color: #BF4E30;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.buyBtn:active {
    background-color: #d3765d;
}