@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
    font-family: myFont;
    src: url('..//fonts/Amsterdam.ttf');
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: myFont;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    margin-left: 15%;
}

.black-line {
    width: 300px;
    height: 2px;
    background-color: black;
}

.plant {
    position: absolute;
    right: 2%;
    top: 65px;
    transform: rotateY(180deg);
    z-index: 2;
}

p {
    font-family: "Nunito Sans", sans-serif;
    text-align: justify;
}

.dish {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.image {
    height: 80px;
    width: 120px;
}