@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}

.instructions {
    font-size: 16px;
    background-color: #eaaf56;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
}

#qr {
    width: 300px;
    margin-left: 10px;
}

#precofinal{
    display: flex;
    align-items: center;
    justify-content: center;
}

#copier {
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    background-color: #BF4E30;
    color: white;
}

#Submitbtn {
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    background-color: #BF4E30;
    color: white;
}

#pixkey{
    display: none;
}

#observacaop{
    width: 250px;
    text-align: center;
    color: red;
    font-size: 25px;
}

#comprovante {
    display: block;
    margin: 0 auto;
}

.pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.popup{
    position: fixed;
    top: 0;bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 200px;
    height: 125px;
    padding: 15px;
    border: solid 1px black;
    color: white;
    border-radius: 10px;
    background: #BF4E30;
    display: none;
    align-items: center;
    justify-content: center;
}

#backtomenu{
    border-radius: 15px;
    border: none;
    background-color: #6F6D3D;
    color: white; 
    padding: 10px 20px;
    margin-top: 7px;
}

#chavepix{
    text-align: center;
    font-size: 8px;
    
}