@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

* {
   font-family: 'Nunito Sans', sans-serif;
}

.container {
   max-width: 100vw;
}

.fa-circle-info {
   color: #eaaf56;
   font-size: 20px;
   cursor: pointer;
   position: absolute;
   left: 80px;
   top: 20px;
}

.info {
   /* display: none; */
   width: 90%;
   max-height: 90%;
   padding: 10px;
   background-color: #eaaf56;
   border: 1px solid black;
   border-radius: 10px;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 20;
   overflow: scroll;
   text-align: justify;
   transform: translate(-50%, -50%);
}

.info h3 {
   margin-bottom: 10px;
   margin-top: 30px;
}

.info button {
   margin: 10px auto 5px auto;
   display: block;
   width: 100%;
   padding: 10px 20px;
   border: none;
   border-radius: 15px;
   background-color: #6F6D3D;
   font-size: 20px;
}

.info p {
   text-indent: 30px;
}

.startBtn {
   color: black;
}

.max-tickets {
   display: none;
   background-color: red;
   color: rgb(255, 222, 222);
   width: 90vw;
   padding: 10px;
   border-radius: 10px;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.max-tickets-text {
   text-align: center;
}

.max-tickets button {
   padding: 1px 15px;
}

.confirm-submit-ticket {
   display: none;
   flex-direction: column;
   justify-content: center;
   width: 95vw;
   font-size: small;
   background-color: #6F6D3D;
   color: #ffffff;
   padding: 5px;
   border-radius: 5px;
   text-align: center;
   max-height: 400px;
   overflow-y: scroll;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 20;
}

.ticket-table {
   border-collapse: collapse;
   margin: auto;
}

.confirm-submit-ticket button {
   padding: 3px 10px;
   background-color: white;
   border: none;
   border-radius: 5px;
}

th, td {
   border: 1px solid white;
   padding: 2px;
}

.td-restriction {
   max-width: 75px;
   overflow: hidden;
   text-overflow: ellipsis;
}

.error-completing {
   display: none;
   background-color: #ff0000;
   color: #ffffff;
   padding: 10px;
   border: 1px solid #ff0000;
   text-align: center;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
}

.error-completing h4 {
   font-weight: 800;
}

.error-completing button {
   padding: 2px 20px;
   background-color: white;
   border: none;
   border-radius: 3px;
}

.error-completing button:active {
   background-color: #ffb4b4;
}

.error {
   display: none;
   width: 170px;
   background-color: rgb(255, 39, 39);
   color: rgb(255, 199, 199);
}

.availableTickets {
   font-size: 14px;
   padding: 3px;
   text-align: center;
   background-color: #eaaf56;
}

.buttons {
   margin: 5px;
   display: flex;
   justify-content: center;
   gap: 5px;
}

.addTicketBtn {
   flex: 1;
   display: flex;
   align-items: center;
   background-color: #eaaf56;
   padding: 10px;
   font-size: 12px;
   border: none;
   cursor: pointer;
   color: black;
}

.icon-plus {
   display: flex;
   align-items: center;
}

.plus-icon {
   font-size: 20px;
}

.text {
   flex: 1;
}


.addTicketBtn:hover {
   background-color: #c99c58;
}

.ticket {
   border: 2px solid yellow;
   width: 90%;
   margin: 10px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
}

.ticket:last-of-type {
   margin-bottom: 220px;
}

.ticket-texts {
   width: 60%;
   min-height: 170px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0px 5px;
}

.itype-container {
   height: 40px;
   overflow: hidden;
}

.ticket-content {
   display: flex;
   align-items: center;
   margin: 10px 0px;
}

label { margin-right: 3px; }

input.iname, input.icpf, input.ibirth, input.iteacher-name, input.istudent-n-tech {
   height: 10px;
   outline: none;
   padding: 5px;
}

input.iname {
   width: 130px;
   border: 2px solid yellow; 
} 

input.icpf {
   width: 140px;
   border: 2px solid yellow; 
} 

input[type="date"] {
   width: 95px;
   border: 2px solid yellow; 
}

.ticket-students, .ticket-teacher, .ticket-student-n-tech {
   display: none;
}

.list-students {
   width: 122px;
   border: 2px solid yellow; 
}

.istudent-n-tech {
   width: 115px;
   border: 2px solid yellow;
}

.iteacher-name {
   width: 80px;
   border: 2px solid yellow; 
}

#success-completing {
   border: 2px solid lightgreen;
}

#unsuccess-completing {
   border: 2px solid red;
}

.delete-btn {
   background-color: #ca7c66;
   width: max-content;
   margin: 10px auto 0px auto;
   padding: 5px;
   outline: none;
   border: none;
   border-radius: 5px;
   color: black;
}

.rest-know {
   width: 40%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: 0px 5px 10px 0px;
}

.know-btn {
   color: black;
}

.rest-label {
   width: 60px;
   margin-right: 0px;
}

textarea {
   border: 2px solid yellow;
   outline: none;
   text-align: justify;
   height: 60px;
   width: 115px;
}

textarea::placeholder {
   text-align: center;
}

.to-know {
   margin-top: 10px;
}

.know-btn {
   background-color: #eaaf56;
   border: none;
   border-radius: 3px;
   margin: 2px;
   padding: 2px;
   font-size: 12px;
   width: 90px;
}

.know-btn:active {
   background-color: #fda78f;
}

.result {
   display: flex;
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #eaaf56;
}

.user-icon {
   height: 50px;
   width: 50px;
}

.total {
   width: 30%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.black-line {
   background-color: #BF4E30;
   width: 3px;
   height: 90px;
   margin: auto 0px;
}

.user-icon {
   padding: 0;
   margin-top: 5px;
}

.tickets-list {
   width: 70%;
   max-height: 200px;
   overflow: scroll;
}

.total-name {
   text-align: center;
}

.total-text {
   font-family: myFont;
}

.pay {
   display: none;
   font-weight: 200;
   color: white;
   padding: 5px 15px;
   background-color: #BF4E30;
   margin: 5px 0px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
}

.day-btn {
   font-weight: 200;
   padding: 5px 15px;
   border-radius: 15px;
   border: none;
   background-color: #BF4E30;
   color: white;
}

.result-preview {
   background-color: #d89c42;
   width: 70%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 8px;
   font-size: 10px;
   margin: 8px auto;
   padding: 0px;
}

.result-texts {
   margin: 10px 0px;
}

a, button {
   outline: none;
}

#refertickets{
   font-size: 14px;
   padding: 3px;
   text-align: center;
   background-color: #eaaf56;
   margin-bottom: 5px;
} 

@media (min-width: 600px) {
   .fa-circle-info {
      left: 120px;
      margin-left: 0px;
      padding-left: 0px;
      top: 40px;
   }
}