@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
@font-face {
   font-family: myFont;
   src: url('../fonts/Amsterdam.ttf');
}

* {
   font-family: 'Nunito Sans', sans-serif;
}

.container {
   max-width: 100vw;
}

.buttons {
   margin: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.addTicketBtn {
   width: 50%;
   display: flex;
   align-items: center;
   background-color: #eaaf56;  
   padding: 10px 20px; 
   font-size: 12px;
   border: none;
   cursor: pointer;
}

.plus-icon {
   margin-right: 10px; 
   font-size: 20px;
}

.text {
   margin: auto;
}

.addTicketBtn:hover {
   background-color: #c99c58;
}

.ticket {
   border: 2px solid #eaaf56;
   width: 90%;
   margin: 10px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 12px;
}

.ticket:last-of-type {
   margin-bottom: 220px;
}

.ticket-texts {
   width: 60%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 10px;
}

.ticket-content {
   display: flex;
   align-items: center;
   margin: 10px 0px;
}

label {
   margin-right: 5px;
}

input.iname, input.icpf, input.ibirth {
   height: 10px;
   border: 2px solid #9dff00; 
   outline: none;
   padding: 5px;
}

input[type="text"] {
   width: 120px;
} 

input[type="number"] {
   width: 130px;
} 

input[type="date"] {
   width: 90px;
} 

select.itype {
   width: 80px;
   height: 30px;
   border: 2px solid #9dff00;
   outline: none;
   padding: 5px;
}

#success-completing {
   border: 2px solid #eaaf56;
}

#unsuccess-completing {
   border: 2px solid red;
}

.delete-btn {
   background-color: #ca7c66;
   width: max-content;
   margin: 10px auto -10px auto;
   padding: 5px;
   outline: none;
   border: none;
   border-radius: 5px;
}

.delete-btn:active {
   background-color: #d1998a;
}

.rest-know {
   width: 40%;
   height: 100%;
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 10px;
}

textarea {
   margin-top: 10px;
   border: 1px solid #eaaf56;
   outline: none;
}

textarea::placeholder {
   text-align: center;
}

.to-know {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

input[type=radio] {
   appearance: none;
   padding: 8px;
   background-color: #eaaf56;
   border-radius:50%;
}
input[type=radio]:checked {
   background-color: #6F6D3D;
}

.result {
   display: none;
   /*display: flex;*/
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: #eaaf56;
}

.user-icon {
   height: 50px;
   width: 50px;
}

.total {
   width: 30%;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.black-line {
   background-color: #BF4E30;
   width: 3px;
   height: 90px;
   margin: auto 0px;
}

.user-icon {
   padding: 0;
   margin-top: 5px;
}

.tickets-list {
   width: 70%;
   overflow: auto;
}

.total-name {
   text-align: center;
}

.total-text {
   font-family: myFont;
}

.pay {
   font-weight: 200;
   color: white;
   padding: 5px 15px;
   background-color: #BF4E30;
   margin: 5px 0px;
   border: none;
   border-radius: 2px;
   cursor: pointer;
}

.day-buttons {
   display: flex;
   justify-content: space-around;
   margin: 5px 15px;
}

.day-btn {
   font-weight: 200;
   padding: 5px 15px;
   border-radius: 15px;
   border: none;
   background-color: #BF4E30;
   color: white;
}

.result-preview {
   background-color: #d89c42;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 10px;
   font-size: 10px;
   margin: 10px auto;
   padding: 0px;
}